# Core dependencies
gradio==5.22.0
sqlalchemy
psycopg2-binary
alembic
google-cloud-storage
gdown

# For ML processing
torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu124
# Note: madmom is installed separately in the Dockerfile
librosa
scikit-learn

# Audio processing
soundfile
pydub
matplotlib
pandas
mido
pretty_midi